body {
    font-family: 'Franklin Gothic', Arial, sans-serif;
    background-color: #FFFFEB;
}

header {
    margin-right: auto;
    margin-left: auto;
}

body ul {
    list-style-type: none;
}


nav {
    color: #4C4C46;

}

div.menubox {
        width: 140px;
        height: 100px;
        float: left;
        margin-left: 5%;
        margin-top: 1em;
    }
    
ul.submenu {
    display: block;
    float: none;
    margin-left: -35px;
    margin-top: 0px;
}        



hr {
    clear: both;
    visibility: hidden;
}
 

section {
    width: 90%;
    color: #4C4C46;
    margin-right: auto;
    margin-left: auto;
}
      

img {
    border-radius: 5px;
    border: 6px solid black;
}

    img#homeImage {
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 35px;
        float: left;
        display: block;
        width: 350px;
    }

    img.banner {
        margin: auto;
        display: block;
        width: 90%;
        border: none;
    }
    
    img.individual {
	margin-left: 10px;
	display: block;
	float: right;
	margin-bottom: 30px;
    }

.introPara  {
    line-height: 230%;
}

span.introLetter {
    font-size: 4.0em;
    vertical-align: baseline;
    font-family: 'papyrus', 'garamond', 'Franklin Gothic', Arial, sans-serif;
}

section ul {
    text-align: left;
    font-size: 1.5em;
    margin-top: 140px;
    display: inline-block;
}


a {
    color: #4C4C46;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #D13B30;
    }
    