td
{
    padding:0 15px 0 15px;
    vertical-align: top;
}


img.thumbnail {
    border-radius: 3px;
    border: 1px solid black;
    width: 30px;
    display: inline-block;
    margin-right: 35px;
    margin-left: 15px;
}


img.gallery {
    border-radius: 4px;
    border: 3px solid black;
    width: 22em;
    cursor: pointer;
    margin-bottom: 15px;
}    


img:hover, img:focus {
        border: none;
    }
    
aside {
    margin-left: 14%;
    position: absolute;
}

aside h1 {
    visibility: hidden;
}

article {
    float: right;
}        

body  {
    position: relative;
}

table {
    width: 60%;
    float: right;
}